* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v55_77 {
  width: 100%;
  height: 1117px;
  background: rgba(224,218,214,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v55_78 {
  width: 79px;
  height: 63px;
  background: url("../images/v55_78.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 43px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v55_81 {
  width: 330px;
  background: url("../images/v55_81.png");
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 1236px;
  border: 6px solid rgba(97,97,68,1);
}
.v55_82 {
  width: 563px;
  color: rgba(155,71,19,1);
  position: absolute;
  top: 348px;
  left: 83px;
  font-family: Over the Rainbow;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v55_83 {
  width: 323px;
  color: rgba(155,71,19,1);
  position: absolute;
  top: 313px;
  left: 773px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v55_84 {
  width: 661px;
  color: rgba(50,28,24,1);
  position: absolute;
  top: 364px;
  left: 773px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v55_85 {
  width: 683px;
  color: rgba(155,71,19,1);
  position: absolute;
  top: 563px;
  left: 773px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v55_86 {
  width: 661px;
  color: rgba(50,28,24,1);
  position: absolute;
  top: 614px;
  left: 773px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v55_87 {
  width: 889px;
  color: rgba(155,71,19,1);
  position: absolute;
  top: 809px;
  left: 773px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v55_88 {
  width: 661px;
  color: rgba(50,28,24,1);
  position: absolute;
  top: 861px;
  left: 773px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v55_89 {
  width: 160px;
  height: 135px;
  background: url("../images/v55_89.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 313px;
  left: 1477px;
  overflow: hidden;
}
.v55_90 {
  width: 124px;
  height: 124px;
  background: url("../images/v55_90.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 602px;
  left: 1513px;
  overflow: hidden;
}
.v55_91 {
  width: 388px;
  color: rgba(155,71,19,1);
  position: absolute;
  top: 234px;
  left: 83px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 60px;
  opacity: 1;
  text-align: left;
}
.v55_92 {
  width: 126px;
  height: 126px;
  background: url("../images/v55_92.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 848px;
  left: 1511px;
  overflow: hidden;
}
.v55_93 {
  width: 289px;
  color: rgba(155,71,19,1);
  position: absolute;
  top: 52px;
  left: 212px;
  font-family: Tancred;
  font-weight: Regular;
  font-size: 70px;
  opacity: 1;
  text-align: center;
}
.v55_94 {
  width: 312px;
  color: rgba(50,28,24,1);
  position: absolute;
  top: 52px;
  left: 689px;
  font-family: Tancred;
  font-weight: Regular;
  font-size: 70px;
  opacity: 1;
  text-align: center;
}
.v55_95 {
  width: 300px;
  color: rgba(97,97,68,1);
  position: absolute;
  top: 52px;
  left: 1250px;
  font-family: Tancred;
  font-weight: Regular;
  font-size: 70px;
  opacity: 1;
  text-align: left;
}
